<div class="bloque">
<div class="fondo">
 <div ><p class="contactanos">Contactanos</p><br>
    <p class="subscribete">Subscríbete para recibir noticias por correo</p>
 </div>
 <div class="filaemail">
    <input class="filaemailcampo" type="email" placeholder="    Introduce tu email"/>
    <button class="filaemailboton">
        Subscribirse
    </button>   
</div>
<br>
<div class="iconos">
    <a href="https://es-es.facebook.com" target="_blank"><img class="icono" src="assets/iconos/facebook.png"/></a>
    <a href="https://www.instagram.com" target="_blank"><img class="icono" src="assets/iconos/instagram.png"/></a>
    <a href="https://www.tiktok.com" target="_blank"><img class="icono" src="assets/iconos/tiktok.png"/></a>
    <a href="https://twitter.com/" target="_blank"><img class="icono" src="assets/iconos/twitter.png"/></a>
    <a href="https://www.youtube.com" target="_blank"><img class="icono" src="assets/iconos/youtube.png"/></a>
</div>
</div>
</div>