.largo{
    height: 1000px;
}
.bloque{
    margin-top: 100px;
    display: flex;
    justify-content: center;   
}
.fondo{
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 20px;
    margin-top: 60px;
    margin-bottom: 60px;
    background-color: #E7F1C4;
    border-radius: 30px;
}
.contactanos{
    font-size: 25px;
}
.subscribete{
    margin-left: 32px;
    font-size: 15px;
}
.filaemail{
    display: flex;
    justify-content: space-around;
    
}
.filaemailcampo{
    border-radius: 10px;
    outline:none;
    
}
.filaemailboton{
    padding: 10px;
    border-radius: 10px;
    outline:none;
    background-color: #0D6EFD;
    color: white;
}
.iconos{
    display: flex;
    justify-content: space-between;
}
.icono{
    width: 80px;
}

/*MEDIA QUERIES*/

@media screen and (min-width: 1040px) {
    .fondo{
        padding-bottom: 50px;
        padding-top: 50px;
        padding-left: 50px;
        padding-right: 50px;
        margin-top: 60px;
        margin-bottom: 60px;
        background-color: #E7F1C4;
        border-radius: 30px;
    }
    .iconos{
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }
}
