.largo{
    height: 1000px;
    display: flex;
    justify-content: center;
}
.bloque{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    width: 50%;
}

.container-fluid{
    width: 100%;
    background-color:#d6ecfa;
    
}

.imagen {
    width: 300px;
}

small {
    float: right;
}
.btn {
    margin: 10px;
    white-space: normal;
    word-wrap: break-word;
}
@media screen and (max-width: 1468px) {
    .imagen {
        width: 90%;
        
    }
    .text-align {
        text-align: center;
    }
  }
