  
  <div class="card-columns">
    <div class="card">
      <div class="card-block">
     <!--  <img src="assets/actividades/{{actividad.id_act}}.jpg" class="card-img-top" alt="actividades de meditación">  --> 
      
     <!--Construimos un pipe para facilitar la actualización de imágenes, recibe la actividad y retorna el path comentado-->

     <img [src]=" actividad | imagen" class="card-img-top" alt="actividades de meditación">
     
     
     <div class="card-body text-center">
        <h2 class="card-title">{{ actividad.titulo}}</h2>
        
        <p>
          <strong>Inicio</strong> {{actividad.inicio}}
          <strong>Duración</strong> {{actividad.duracion}}
        </p>
        <a [routerLink]="[]" class="btn btn-primary">Unirse</a>
        <a [routerLink]="['/editar', actividad.id]" class="btn btn-primary">Editar</a>
        <a [routerLink]="['/' , actividad.id]" class="btn btn-primary">Ver actividad</a>
      </div>
    </div>
    </div>
  </div>
