.flex-container{
    margin-top: 30px;
    display: flex;
    flex-flow: row wrap; 
    justify-content: center; 
  
  }
.tarjeta-block{
    flex-grow: 1;
    
    margin: 15px;
    background-color: #E7F1C4;
}
.tarjeta-body {
    text-align: center;
}     

.btn {
      margin: 10px;
      white-space: normal;
      word-wrap: break-word;
}
.img{  
    display: block;
    padding: 10px;
    margin: 0 auto;
    width: 100%;
    max-width: 330px;
      
}



@media screen and (min-width: 1280px) {
 
  
}
@media screen and (min-width: 768px) and (max-width: 1280px) {
  .flex-container {
    display: flex;
      flex-direction: row;
      justify-content: center; 

  }
  .tarjeta-block{
    width: 100%;
    background-color: #E7F1C4;
}
     
      
}
@media screen and (max-width: 768px) {
      
      .btn {
          font-size: 13px;
      }
      .flex-container {
        display: flex;
          flex-direction: column;
          justify-content: center; 
  
      }
      .tarjeta-block{
        
        flex-grow: 1;
        margin: 15px;
        background-color: #E7F1C4;
    }
      
    }