.banner{
    background-image: url('src/assets/iconos/BannerWeb2.jpg');
    background-repeat:repeat;
    background-attachment: fixed;
    background-size: 100%;
}
@media screen and (min-width: 1510px) {
    .banner{
        background-image: url('src/assets/iconos/BannerWeb6.jpg');
        
    }

    }