.contenedor {
    margin-top: 30px;
    justify-content: center;
    display: flex;
    flex-flow: row wrap;
    
}


@media screen and (max-width: 640px) {
    .contenedor {
        display: flex;
        flex-direction: column;
        
    }

  @media screen and (min-width: 640px) and (max-width: 1280px) {
   
  }

  @media screen and (min-width: 1280px) {
   

  }
}