
<div class="container ">
 
   
    <form class="column mt-5 custom-form" 
    autocomplete="off"
    [formGroup]="miFormulario" 
    (ngSubmit)="registro()">
        <div class="row justify-content-center" >
            
            <div >
              
                <input type="email"  
                placeholder="Email"
                class="form-control"
                formControlName="email"
                required="required"/>

                <span *ngIf="campoObligatorio ('email')"
                class="form-text text-danger">
                    El email es obligatorio
                </span>
                
                <input type="password" 
                class="form-control"
                formControlName="password"
                placeholder="Password"
                required="required">

                <span *ngIf="campoObligatorio ('password')"
                class="form-text text-danger">
                    La contraseña debe ser mayor de 8 caracteres
                </span>

                    
                <input type="password" 
                class="form-control"
                formControlName="confirmarPassword"
                placeholder="Confirmar la contraseña"
                required="required">

                
                <span *ngIf="campoObligatorio ('confirmarPassword')"
                class="form-text text-danger">
                    Las contraseñas deben ser iguales
                </span>
                <br>


                <button type="submit"
                [disabled]="">Registrar</button>
            </div>
        </div>
        <br>
        <br>
        

    </form>

