

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    
}


h2{
    color: red;
    
}


.custom-form {
    margin: 2rem;
    background-color: #ecf0f3;
    box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #ffffff;
    padding: 2rem 3rem;
    border-radius: 2.5rem;
   
  }
  .custom-form input {
  display: block;
  margin: 2rem 0;
  width: 100%;
  border-radius: 0.5rem;
  padding: 1rem;
  border: none;
  box-shadow: inset -5px -5px 15px rgba(255, 255, 255, 0.8), inset 5px 5px 10px
  rgba(0, 0, 0, 0.1);
  border: 0 none;
  background: #ebf5fc;
  }
  .custom-form button {
  
    text-transform: uppercase;
  letter-spacing: 0.15em;
  border: none;
  font-size: 0.875rem;
  color: #ffffff;
  font-weight: bold;
  background-color: #42a2e2;
  width: 100%;
  display: block;
  padding: 0.875rem 1rem;
  border-radius: 1.5rem;
  box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
  cursor: pointer;
}


/**ADAPTABILIDAD**/

@media screen and (max-width: 800px) {
    .custom-form {
        margin: 1rem;
        background-color: #ecf0f3;
        box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #ffffff;
        padding: 1rem 2rem;
        border-radius: 2.5rem;
       
      }
    
    /*
    .container {
        width: 100%;
        flex-direction: column;
    }
    .column {
        
        width: 100%;
      
    }*/
}

