.padre{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 1000px;

}
.texto{
    margin-top: 150px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
}
.botones{
    margin-top: 150px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
}

.button-rounded {
    border-radius:30px;
}
.button {
    width: 900px;
    max-width: 60%;
    background-color: #dae7f1;
    border: 1px solid rgb(124, 121, 121);
    color: rgb(52, 49, 49);
    padding: 20px;
    text-align: center;
    text-decoration: none;
    margin: 10px auto;
}

/*MEDIA QUERIES*/
@media screen and (max-width: 1040px) {
    .button {
        max-width: 40%;
    }
    .texto{
        max-width: 30%;
    }
  }
  @media screen and (min-width: 1040px ) {

    .texto{
        max-width: 50%;
    }
  }

  @media screen and (min-width: 1480px) {
    .button {
        max-width: 90%;
    }
    
  }