<div class="padre">
    <div class="texto">
        <div class="card-body">
        <h2 >Nuestro propósito es mejorar tu salud y bienestar</h2>
        <h4 >Meditagroup funciona como una red de personas para impartir y recibir sesiones de meditación en grupos virtuales.</h4>
    </div>
    
    <div class="botones">
            <h2 >¿cómo te podemos ayudar?</h2>
            <button class="button button-rounded">Reducir el estrés con una actividad sencilla</button>
            <button class="button button-rounded">Mejorar la conciencia corporal</button>
            <button class="button button-rounded">Aprender a respirar de manera consciente</button>
    </div>
</div>