
<div class="container-fluid">

    <img src="assets/background/lago.jpg" alt="Lago relajante home" class="img-home-responsive">
</div>

<div class="text-center mt-4">
    <div class="card-body">
      <h2 class="card-title">Nuestro propósito es mejorar tu salud y bienestar</h2>
      <h4 class="card-text">Meditagroup funciona como una red colaborativa para impartir y recibir sesiones de meditación en grupos virtuales.</h4>
  </div>
 
<div class="container-fluid pb-5">
    
    <div class="hijo-container-center">
        <h2 class="h2-center">¿cómo te podemos ayudar?</h2>
        <button class="button button-rounded">Reducir el estrés con una actividad sencilla</button>
        <button class="button button-rounded">Mejorar la conciencia corporal</button>
        <button class="button button-rounded">Aprender a respirar de manera consciente</button>
    </div>
</div>