

.container-fluid {
  display: flex;
  padding: 1.5em;

}
.perfil {
  margin-right: 20px;
}
.logo {
  color: #5db0e6;
  font-size:44px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  .nav-item {
    margin-top: 10px;
    font-size: 18px;
  }
  .btn-close {
    font-size: 24px;
    margin: 20px;
    
  }
  .btn {
    display: inline-block;
  }
  .button {
    text-transform: uppercase;
    letter-spacing: 0.15em;
    border: none;
    font-size: 0.875rem;
    color: #3d3b3b;
    font-weight: bold;
  
    box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
    cursor: pointer;
  }
  /*MEDIA QUERIES*/
@media screen and (max-width: 2000px) {
  .navbar-toggler-icon{
    font-size: 14px;
  }
  .nav-link {
    margin-left: 20px;
  }
  .navbar-right {
    float: right;
  }
  
  }
  @media screen and (max-width: 600px) {
    .logo {
      color: #5db0e6;
      font-size:18px;
     
    }
    .perfil {
      font-size: 12px;
    }
    .navbar-toggler-icon{
      font-size: 10px;
    }
    .avatar {
      vertical-align: middle;
      width: 30px;
      height: 30px;
      border-radius: 50%;
    }
    .perfil {
      margin-right: 5px;
    }
    
  }

