.container-fluid {
  display: flex;
}
.padre{
  width: auto;
  margin-right: 10px;
  margin-left: 10px;
}
.perfil {
  margin-right: 22px;
}
.navbar{
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #F2F9F0;
}
.logo {
  height: 120px;
  border-radius: 20px;
}
.white {
  background-color: #ffffff;
  border-radius: 8px;
}
.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  .nav-item {
    font-size: 18px;
  }
  .btn-close {
    font-size: 24px;
    margin: 20px;
  }
  .btn {
    display: inline-block;
  }
  .button {
    text-transform: uppercase;
    letter-spacing: 0.15em;
    border: none;
    font-size: 0.875rem;
    color: #3d3b3b;
    font-weight: bold;  
    box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
    cursor: pointer;
  }
  /*MEDIA QUERIES*/
@media screen and (max-width: 2000px) {
  .navbar-toggler-icon{
    font-size: 14px;
  }
  .nav-link {
    margin-left: 20px;
  }
  .navbar-right {
    float: right;
  }
  
  }
  @media screen and (min-width: 461px) and (max-width: 600px){
    .logo {
      color: #5db0e6;
      font-size:24px;
      height: 80px;
    }
    .perfil {
      font-size: 14px;
    }
  }
  @media screen and (max-width: 460px) {
    .logo {
      color: #5db0e6;
      font-size:16px;
      margin: auto;
      height: 60px;
      border-radius: 20px;
    }
    .navbar-brand {
      margin: 0;
    }
    .nav {
      margin: 0;
    }
    .perfil {
      font-size: 14px;
    }
    .navbar-toggler-icon{
      font-size: 10px;
    }
   
    .avatar {
      vertical-align: middle;
      width: 30px;
      height: 30px;
      border-radius: 50%;
    }
    .perfil {
      margin-right: 10px;
    }
    
  }
