
<div class="padre">
    <nav id="nav" class="navbar">
        <div class="container-fluid">
          <a href="#" class="navbar-brand" >
            <img class="logo"  src="assets/iconos/logo.jpg" alt="Logo" data-dismiss="modal" > 
            <!--<span class="logo">Meditagroup</span>-->
          </a>

          <!--Perfil-->
          <ul class="nav navbar-nav ms-auto xs-0">
          <li class="nav-item">
            <a [routerLink]="['/perfil', auth.id]"
            class="nav-item perfil justify-content-end nav-link" 
            data-dismiss="modal" ><span *ngIf="auth.nombre">Welcome {{auth.nombre}}</span>
              <img [routerLink]="['/perfil', auth.id]"  
              src="assets/avatar-perfil/avatar.png" alt="Perfil" class="avatar" data-dismiss="modal" >                    
            </a>
            
            </li>
            </ul>
          

        <!--Menú-->
        <div class="white">
          <button type="button" class="navbar-toggler" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
            <div class="offcanvas offcanvas-end"  tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel" >
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>   
              <div class="offcanvas-body">
              <ul class="navbar-left navbar-nav">
                  <li class="nav-item">
                    <a routerLink="/home" class="nav-item nav-link active" data-bs-dismiss="offcanvas" data-dismiss="modal" >Home</a>
                  </li>
                  <li class="nav-item">
                    <a routerLink="/actividades" class="nav-item nav-link" data-bs-dismiss="offcanvas" data-dismiss="modal" >Actividades</a>
                  </li>
                  <li class="nav-item">
                    <a routerLink="/buscar" class="nav-item nav-link" data-bs-dismiss="offcanvas" data-dismiss="modal" >Buscar</a>
                  </li>
                  <li class="nav-item">
                    <a routerLink="/agregar" class="nav-item nav-link" data-bs-dismiss="offcanvas" data-dismiss="modal" >Nueva actividad</a>
                  </li>
                  <li class="nav-item">
                    <a routerLink="/contactanos" class="nav-item nav-link" data-bs-dismiss="offcanvas" data-dismiss="modal" >Contáctanos</a>
                  </li>
                </ul>
               
                <ul class="nav navbar-nav ms-auto">
                 
       <!--Entrar sin loguearse-->
        
       <div class="btn">
        <a type="button" class="btn btn-primary btn-sm"
        routerLink="/home"
        data-dismiss="modal" target="_parent">
        Entrar sin login
        </a>
      </div>
    
                        
   
    <div class="btn">
      <a type="button" class="btn btn-primary btn-sm"
      *ngIf="!auth.id; else viewLogout"
      routerLink="auth/login"
      data-dismiss="modal" target="_parent">
      Login
    </a>
    </div>

 <!--Botón de cerrar sesión opcional solo aparece cuando está logueado-->
    <ng-template #viewLogout>
         
      <div class="btn">
        <a type="button" class="btn btn-primary btn-sm"
              routerLink="auth/login"
              (click)="logout()"
              data-dismiss="modal" target="_parent">
              Cerrar sesión
      
        </a>
      </div>

    </ng-template>
    
 

            </ul>
            
            </div>
           
        </div>
        
    </div>

</nav>
   
<router-outlet></router-outlet>
