.largo{
    height: 1200px;
    display: flex;
    justify-content: center;
}
.bloque{
    margin-top: 70px;
    display: flex;
    justify-content: center;
    width: 45%;
    height: 70%;
}
.center{
    margin-top: 50px;
    display: flex;
    justify-content: center;

}
h2 {
    margin-top: 40px;
}
.row {
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.side-left {
    flex: 2;
}
.side-right {
   flex: 1;
}
.together {
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.mat-form{
    display: flex;
    flex-direction: column; 
}
.imagen {
    width: 300px;
}
.form-field {
    flex: 100%;
   
}
.button {
    display: flex;
}


 @media screen and (max-width: 1292px) {
        .together {
            gap: 0px;
            flex-direction: column;
        }
         
}

